PORT=8080
GITHUB_USERNAME=Fridayssheep
ACTIVITYWATCH_URL=http://localhost:5600
# 你的远程 N 卡 Debian 工作站的 SSH 登录信息
SSH_HOST=192.168.50.3
SSH_PORT=22
SSH_USER=fridayssheep
# 可以填写密码或者私钥路径，二选一即可
SSH_PASSWORD=your_password_here
# SSH_KEY_PATH=/Users/fridayssheep/.ssh/id_rsa

# 目标机器上 Ollama 的 API 请求地址 (比如：http://localhost:11434 或者 http://127.0.0.1:11434)
OLLAMA_API_URL=http://localhost:11434

# 后端自动重拉远端设备状态的间隔时间 (秒)
REFRESH_INTERVAL=5
# 前端自动重拉远端设备状态的间隔时间 (秒)
VITE_REFRESH_INTERVAL=5

# 你的 NapCat 接口地址
NAPCAT_API_URL=http://127.0.0.1:3000
NAPCAT_TOKEN=example_token_here
# 这是一个群组列表，用逗号分隔，比如发给两个不同的群（如果没有可以留空）
NAPCAT_GROUP_ID=12345678,87654321

# 这是私发给个人的 QQ 号列表，用逗号分隔（如果没有可以留空）
NAPCAT_USER_ID=1111111,2222222
