PORT=8080
GITHUB_USERNAME=frisheep

# 你的远程 N 卡 Debian 工作站的 SSH 登录信息
SSH_HOST=192.168.1.100
SSH_PORT=22
SSH_USER=root
# 可以填写密码或者私钥路径，二选一即可
SSH_PASSWORD=your_password_here
# SSH_KEY_PATH=/Users/fridayssheep/.ssh/id_rsa

# 目标机器上 Ollama 的 API 请求地址 (比如：http://localhost:11434 或者 http://127.0.0.1:11434)
OLLAMA_API_URL=http://localhost:11434

# 后端自动重拉远端设备状态的间隔时间 (秒)
REFRESH_INTERVAL=5
